<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">hi!</a></li>
		        	<li><a href="/math">mathematics</a></li>
	        		<li><a href="/diary">diary</a></li>
	        		<li><a href="/music">music</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	        		<a href="mailto:jterzioglu03@gmail.com">email</a>
			</footer>
		</body>
	</html>
